<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CoreEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Graphics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Input.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Maths.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Physics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SDLWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SFMLTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WindowingSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>XML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B385B78B650408F8DAB507A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CBD8E6ED49D47D68594BB8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18BFD1BD7C8F48719474600D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A6DED306B8F4701BA52D1E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F3D5A8D0C944EABB5C2817C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>475341403C7745E8BF74A1CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70935C41C6EC4C4AA09B1E0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83D981243B4C45D7A5A1024A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1DAD4F12A604536ADEE5B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB12872B13924D5091D54E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B3330AAB274DD0A86EAFEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
